li
{
	list-style-type: none;
}
body{
    background-image: url(http://www.fg-a.com/wallpapers/move-to-the-light-1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-family: Roboto, sans-serif;
}
ul li a{
    color: white;
    text-decoration: none;
}
h2{

background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top,  #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
nav ul
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.logo
{
	text-align: center;
	flex-basis: 100%;
}
.branding,
.ui,
.graffiti,
.typography
{
	flex-basis:50%;
	text-align: center;
}
#photos
{
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
}
#photos div
{
	margin-top:20px;
	flex-basis:100%;
	flex-grow: 2;

}
#photos img
{
	display: block;
	margin: auto;
}
@media (min-width:450px)
{
	.branding,
	.ui,
	.typography
	{
		flex-basis:33.33%;
	}
	.graffiti
	{
		flex-basis:100%;
	}
}
@media (min-width:500px)
{
	#photos div
	{
		flex-basis:50%;
	}
}
@media (min-width:550px)
{
	.branding,
	.ui,
	.graffiti,
	.typography
	{
		flex-basis:25%;
	}
}
@media (min-width:620px)
{
	#photos div
	{
		flex-basis: 33.33%;
	}
}
@media (min-width:800px)
{
	
	nav ul
	{
		flex-wrap: nowrap;
	}
	nav ul li
	{
		flex-basis:20%;
		flex-grow:1;
	}
	.typography
	{
		order:1;
		margin-top:20px;
	}
	.ui
	{
		order:2;
		margin-top:20px;
	}
	.branding
	{
		order:4;		
		margin-top:20px;
	}
	.graffiti
	{
		order:5;
		margin-top:20px;
	}
	.logo
	{
		flex-basis:20%;
		order:3;
		flex-grow:1;
	}
}
@media (min-width:1200px)
{
    #photos div{
        flex-basis: 25%
    }
}